<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DBCS" connectionString="server=PC293465\SQLEXPRESS;database=Sample1; integrated security=SSPI"/>
	</connectionStrings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <compilation debug="true"/>
  </system.web>
</configuration>
